*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.kotlin
/app/readercollection-keystore.jks
/app/release/*
core/database/schemas/com.aragones.sergio.ReaderCollectionDatabase/*.json
*.xcuserstate
xcschememanagement.plist
*.xcscheme
