<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".ReaderCollectionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReaderCollection.NoActionBar"
        android:localeConfig="@xml/locales_config"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".presentation.ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.ui.register.RegisterActivity" />
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.ui.bookdetail.BookDetailActivity" />
        <activity
            android:name=".presentation.ui.landing.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>